# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Projects
.project
.classpath
.factorypath
.settings/
.vscode/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Log files
*.log
logs/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
.dockerignore
!*/Dockerfile

# Presentation assets
*.pptx
FinFlow_Advanced_Presentation_V2.html
FinFlow_Presentation.html
finflow_cover_illustration.png

# SQL temp files
*.sql.temp
